<div class="d-grid gap-2 col-6 mx-auto mb-3">
  <%= link_to '栽培スケジュールを作る', new_schedule_path, class:'btn btn-primary' %>
</div>

<h2>みんなの栽培スケジュール</h2>

<%= form_tag root_path, method: :get do %>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 mb-3">
  <div class="col pb-2">
    <%= select_tag :variety_id, options_for_select(variety_choices, @variety_selected),include_blank: true, class: 'form-select', id: 'variety_select', onchange: "this.form.submit()" %>
  </div>
  <div class="col pb-2">
    <%= select_tag :prefecture_id, options_for_select(prefecture_choices, @prefecture_selected),include_blank: true, class: 'form-select', id: 'prefecture_select', onchange: "this.form.submit()" %>
  </div>
  <div class="col pb-2">
    <%= check_box_tag 'only_mine', @only_mine, class: "form-check-input" %> 自分のスケジュールのみ
  </div>
</div>
<% end %>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <% @schedules.each do |schedule| %>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="small text-muted">
          <%= l schedule.updated_at.to_date, format: :default %>
          (<%= schedule.user.name %><% if schedule.prefecture.present? %>@<%= schedule.prefecture&.name %><% end %>)
        </div>
        <h2 class="card-title"><%= schedule.name %></h2>
        <p class="card-text"><%= schedule.variety.name %></p>
        <%= link_to 'Read more →', schedule_path(schedule), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <% end %>

  <%= paginate @schedules %>

</div>

