<div class='row mb-3 mt-3'>
  <div class='col'>
    <h3><%= "#{@task.schedule.variety.name}(#{@task.schedule.name})@#{@task.schedule.prefecture&.name}" %></h3>
  </div>
</div>

<div class='row mb-3'>
  <div class='col'>
    作業メモ: <%= "#{@task.plan_memo}" %>
  </div>
</div>
<hr>
<%= form_with(model: @task, local: true) do |form| %>
  <div class="task_form">
    <% if task.errors.any? %>
      <div class="alert alert-danger">
        The form contains <%= pluralize(task.errors.count, "error") %>
        <ul>
          <% task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group row mb-3">
      <div class='col'>
        <% if @task.done_at.nil? %>
          <%= radio_button_tag 'status', '0', checked: true  %> 未完
          <%= radio_button_tag 'status', '1' %> 完了
        <% else %>
          <%= radio_button_tag 'status', '0'  %> 未完
          <%= radio_button_tag 'status', '1', checked: true %> 完了
        <% end %>
      </div>
    </div>

    <div class="form-group row mb-3">
      <div class='col'>
        <%= form.label :done_memo, class: 'form-label' %>
        <%= form.text_area :done_memo, class: 'form-control', placeholder: '作業メモ（公開されます）' %>
      </div>
    </div>

    <div class="form-group row mb-3">
      <div class='col'>
        <%= form.label :done_image1, class: 'form-label' %>
        <%= form.file_field :done_image1, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group row mb-3">
      <div class='col'>
        <% if @task.done_image1.attached? && @task.done_image1.variable? %>
          <%= image_tag @task.done_image1.variant(resize: '300') %>
        <% end %>
      </div>
    </div>

  <div class="actions row mb-3">
    <div class='col'>
      <%= form.submit '保存する', class: 'btn btn-success' %>
    </div>
  </div>

<% end %>

