<div class='row mb-3'>
  <div class='col small text-muted'>
作業内容: <%= "#{@task.name}" %><%= "(#{@task.plan_memo})" if @task.plan_memo? %>
  </div>
</div>

<%= form_with(model: @task, local: true) do |form| %>
  <div class="task_form">
    <% if task.errors.any? %>
      <div class="alert alert-danger">
        The form contains <%= pluralize(task.errors.count, "error") %>
        <ul>
          <% task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group row mb-3">
      <div class='col'>
        <%= form.label '作業状態', class: 'form-label' %>
        <% if @task.done_at.nil? %>
          <%= radio_button_tag 'status', '0', checked: true  %> 未完
          <%= radio_button_tag 'status', '1' %> 完了
        <% else %>
          <%= radio_button_tag 'status', '0'  %> 未完
          <%= radio_button_tag 'status', '1', checked: true %> 完了
        <% end %>
      </div>
    </div>

    <div class="form-group row mb-3">
      <div class='col'>
        <%= form.label :done_memo, class: 'form-label' %>
        <%= form.text_area :done_memo, class: 'form-control', placeholder: '作業メモ（公開されます）' %>
      </div>
    </div>

    <div class="form-group row mb-3 <%= @task.errors.include?(:done_image1) ? "validation_errors" : "" %>">
      <div class='col'>
        <%= form.label :done_image1, class: 'form-label' %>
        <%= form.file_field :done_image1, onchange: "doneImage(this);", accept: "image/jpeg,image/gif,image/png", class: 'form-control' %>  
      </div>
    </div>

    <div class="form-group row mb-3" id='row_done_preview' style='display:none'>
      <div class='col'>
        <img id="done_preview" class="mb-3" width="300">
      </div>
    </div>

    <div class="form-group row mb-3" id='row_done_image1'>
      <div class='col'>
        <% if @task.done_image1.attached? && @task.done_image1.variable? %>
          <%= image_tag @task.done_image1.variant(resize: '300'), id: 'done_image1' %>
          <div class="form-check">
            <%= check_box_tag :done_image1_id, @task.done_image1.id, false, {class: "form-check-input", id: "done_image1-check"} %>
            <label class="form-check-label" for="done_image1-check">削除</label>
          </div>
        <% end %>
      </div>
    </div>

  <div class="alert alert-primary d-flex align-items-center" role="alert">
    <div>
      <i class="fas fa-info-circle"></i>作業記録に登録した内容は公開されます
    </div>
  </div>

  <div class="actions row mb-3">
    <div class='col'>
      <%= form.submit '保存する', class: 'btn btn-success' %>
    </div>
  </div>

<% end %>

<script>
  function doneImage(obj){
      var fileReader = new FileReader()
      fileReader.onload = (function() {
        document.getElementById('done_preview').src = fileReader.result
        document.getElementById('row_done_image1').style = 'display:none'
        document.getElementById('row_done_preview').style = 'display:block'
      })
      fileReader.readAsDataURL(obj.files[0])
  }
</script>
