<%= javascript_pack_tag 'schedules.js' %>
<%= form_with(model: @schedule, local: true) do |form| %>
  <%= form.hidden_field :schedule_id, value: @schedule.schedule_id %>
  <div class="schedule_form">
    <% if schedule.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

        <ul>
          <% schedule.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field row mb-3">
      <div class='col-6'>

        <%= javascript_pack_tag 'varieties' %>
        <%= form.label Schedule.human_attribute_name(:variety_id), class: 'form-label' %>
        <%= form.collection_select :variety_id, Variety.all.order("name ASC"), :id, :name, options = { include_blank: true }, class: 'form-select', required: true %>
      </div>

      <div class='col-6'>
        <%= form.label Schedule.human_attribute_name(:prefecture_id), class: 'form-label' %>
        <%= form.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class: 'form-select', required: true}) %>
      </div>
    </div>

    <div class="field row mb-3">
      <div class='col'>
        <%= form.label Schedule.human_attribute_name(:name), class: 'form-label' %>
        <%= form.text_field :name, class: 'form-control', required: true %>
      </div>
    </div>

    <div class="links row mb-3">
      <div class='col'>
        作業を追加 <%= link_to_add_association form, :tasks, class: '', data: {association_insertion_node: '#task-association-insertion-point'},
        wrap_object: Proc.new {|task| task.user_id = current_user.id; task } do %>
          <i class="far fa-plus-square"></i>
        <% end %>
      </div>
    </div>

  </div>

  <div class='row'>
    <div class='col'>
      <div id="task-association-insertion-point"></div>
    </div>
  </div>

  <div class='row'>
    <div class='col'>
      <%= form.fields_for :tasks, @tasks do |task| %>
        <%= render "task_fields", f: task %>
      <% end %>
    </div>
  </div>

  <div class="actions row mt-3">
    <div class='col'>
      <% if action_name == 'new' || action_name == 'copy' %>
        <%= form.submit t('helpers.submit.create'), class: 'btn btn-success' %>
      <% else %>
        <%= form.submit t('helpers.submit.update'), class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>

<% end %>
