    <div class="nested-fields">
      <%= f.hidden_field :user_id %>
      <%= f.label :date, class: 'form-label' %>
      <%= f.date_field :date, { class: 'form-control', required: true} %>
      <%= f.label :name, class: 'form-label' %>
      <%= f.select :name, TASK_NAME,
            { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
      <%= f.label :plan_memo, class: 'form-label' %>
      <%= f.text_field :plan_memo, class: 'form-control' %>
      <div class="form-group">
      <%= link_to_remove_association "削除", f, class: 'btn btn-secondary btn-sm' %>
      </div>
    </div>
