<div class="row">
  <div class="col">
    <% if current_user&.id == @schedule.user_id %>
      <h2><%= @schedule.name %> / <%= @schedule.variety.name %>@<%= @schedule.prefecture&.name %></h2>
    <% else %>
      <h2><%= @schedule.variety.name %>@<%= @schedule.prefecture&.name %></h2>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col">
    by: <%= @schedule.user.name %> 
  </div>
</div>

<% @tasks.each do | task | %>
  <div class="row">
    <div class="card-body">
      <div class="card">
        <div class="card-body">

          <div class="row">
            <div class="col-2">
              <%= task.name %>
            </div>
            <div class="col-10">
              予定日:
              <% if current_user&.id == @schedule.user_id %>
                <%= link_to task.date, edit_task_path(task) %>
              <% else %>
                <%= task.date %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
            </div>
            <div class="col-10">
              メモ: <%= task.plan_memo %>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-2">
            </div>
            <div class="col-10">
              <p>作業日: <%= task.done_at %></p>
              <p>作業メモ: <%= task.done_memo %></p>
              <p>作業画像: </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>

<%= link_to '戻る', schedules_path %>
<% if user_signed_in? %>
 | <%= link_to '編集', edit_schedule_path(@schedule) %>
 | <%= link_to '削除', @schedule, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>