<p id="notice"><%= notice %></p>

<p>
  <strong><%= Schedule.human_attribute_name(:name) %>:</strong>
  <%= @schedule.name %>
</p>

<p>
  <strong><%= Schedule.human_attribute_name(:prefecture_id) %>:</strong>
  <%= @schedule.prefecture&.name %>
</p>

<p>
  <strong><%= Schedule.human_attribute_name(:user_id) %>:</strong>
  <%= @schedule.user.name %>
</p>

<p>
  <strong><%= Schedule.human_attribute_name(:variety_id) %>:</strong>
  <%= @schedule.variety.name %>
</p>

<p>
  <strong>@Schedule:</strong>
  <%= @schedule.inspect %>
</p>


<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
