<div class="row mb-3">
  <div class="col">
    <div class="card card-body text-dark text-decoration-none">
      <h2 class="card-text"><%= "#{@schedule.variety.name}@#{@schedule.prefecture&.name}" %></h2>
      <div class="small text-muted">
        <%= l @schedule.updated_at.to_date, format: :default %>
        (<%= @schedule.user.name %><% if @schedule.prefecture.present? %><% end %>)
      </div>
      <div class='text-end'>
        <%= link_to copy_schedule_path(@schedule) do %>
         <i class="fas fa-code-branch"></i> このスケジュールをコピー
        <% end %>
        <% if @schedule.parent %>
        (<%= link_to 'オリジナル', @schedule.parent %>)
        <% end %>
        <% if @schedule.children.size > 0 %>
        (<%= @schedule.children.size %>)
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="accordion mb-5">
<% @tasks.each do | task | %>

  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-heading-<%= task.id %>">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-<%= task.id %>" aria-expanded="true" aria-controls="panelsStayOpen-collapse-<%= task.id %>">
        <% if task.done_at? %>
          <i class="fas fa-check"></i> 
        <% end %>
        <%= l(task.date, format: :long) %>
        <%= " #{task.name}"%>
      </button>
    </h2>
    <div id="panelsStayOpen-collapse-<%= task.id %>" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading-<%= task.id %>">
      <div class="accordion-body row">
        <div class='col'>
          <p>作業メモ: <%= task.plan_memo %></p>
          <p>完了日: <%= task.done_at? ? task.done_at : '-' %></p>
          <p>完了メモ: <%= task.done_memo %></p>
          <p>完了画像: </p>
          <div class='text-end'>
            <% if current_user&.id == @schedule.user_id %>
              <%= link_to edit_task_path(task) do %>
              <i class="far fa-edit"></i>
            <% end %>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
<% end %>
</div>

<%= link_to '戻る', root_path %>
<% if user_signed_in? %>
 | <%= link_to '編集', edit_schedule_path(@schedule) %>
 | <%= link_to '削除', @schedule, method: :delete, data: { confirm: '本当に削除しますか?' } %>
<% end %>